---
title: "Toepfer Selection Criterion"
description: "Generalize a map in different scales by applying the T&oumlpfer Selection Criterion"
date: 2021-01-01
tags: toepfer selection criterion generalization t&oumlpfer
references:

  - author: "Lexikon der Kartographie und Geomatik"
    title: "Auswahlgesetz"
    date: 2021-01-07
    link: https://www.spektrum.de/lexikon/kartographie-geomatik/auswahlgesetz/343
  - author: "Bin Jiang, Xintao Liu and Tao Jia"
    title: "Scaling of Geographic Space as a Universal Rule for Map Generalization"
    date: 2013-02-01
    link: https://arxiv.org/pdf/1102.1561.pdf
  - author: "Download.geofabrik.de"
    title: "OpenStreetMap Data Oberbayern"
    date: 2021-01-31
    link: https://download.geofabrik.de/europe/germany/bayern/oberbayern.html
  - author: "Prof. Dr.-Ing. Liqiu Meng"
    title: "Kartographische Generalisierung"
    date: 2018-05-09
 
foot_additional: >
  {% include mathjax.html %}
  {% include svgjs.html %}
   <script src="{{ 'toepfer.js' | prepend: page.url | absolute_url }}"></script>
---		

<div class="row">
  <div class="col-md">
    <p>
     The <em>T&oumlpfer Selection Criterion</em> (also called Selection Law or Radical Law) is used to determine the number of objects of the derived map in comparison to the source map. The choice has to be done manually. It is a method to generalize a map and to perform object selection in a controlled way. It is based on the idea to maintain relative object density. In most cases the <em>T&oumlpfer Selection Criterion</em> is applied to topographic maps with large or medium scale. </p>
  
  The following formula describes the T&oumlpfer Law:
  <br>
  \[ n_D=n_S\sqrt{\frac{m_S}{m_D}} \]
 
 <div class="d-flex justify-content-center">
 <br>
  <em style="font-size:13px">\( n_D/n_S \): number of objects on the derived/source map</em>
   </div>
   
   <div class="d-flex justify-content-center">
  <em style="font-size:13px">\( m_D/m_S \): scale denominator of the derived/source map</em>
    </div>
   <br>
   <br>

   For small-scaled maps it is important to consider additional influencing factors:  
	 <ul>
          <li>Objects that should be highlighted for a certain map use type</li>
		  <li>Coefficient of character key and meaning:
		  <ul>
				<li>\(>1\): objects with special meaning</li>
				<li>\(<1\): objects with poor meaning</li>
		  </ul></li>
     </ul>
  Very important is also to adapt the size of the objects to the remaining scale.
  <br><br><br>
  <U>Here is a simple Example:</U>
 


<div class="d-flex justify-content-center">
   <div> <br><br>
  <table border="1">
	<tr bgcolor=#E5E3DA>
		<td </td>
		<td>\(~\)Source Map\(~~~~~~~\)</td>
		<td>\(~\)Derived Map\(~~~~~~~\)</td>
	</tr>
	<tr>
		<td bgcolor=#E5E3DA>\(~\)Number of Objects\(~~~~~~~\)</td>
		<td>77</td>
		<td><strong>36</strong></td>
		
	</tr>
	<tr>
		<td bgcolor=#E5E3DA>\(~\)Scale Denominator\(~~~~~~~\)</td>
		<td>10 000</td>
		<td>15 000</td>
	</tr>
	</table>
   <br>
  \( ~~~~~~~~~~~~~~~~~~~~~~~~~n_F=77\sqrt{\frac{10~000}{15~000}} \approx \) <strong>36</strong>
  </div>
</div>

<div class="d-flex justify-content-center">
   <div>{% include_relative imgs/toepfer_finished.svg class="img-fluid mx-auto d-block"%}</div>
</div>



<h2 class="mt-5">Hands-On</h2>
<hr>

<div class="container mw-900">
  <p>The following map shows Coffee-Shops in the area of Munich. By selecting different scales the amount of visible icons is generalized/decimated by the means of T&oumlpfer Selection Criterion.</p>
  <div class="card shadow">
    <div class="card-header h5">
      Coffee-Shops in Munich
    </div>
		<div class="card-body pb-2">
			 
			 
		<button onclick="myFunction1()" class="btn">1 : 5 000</button>
		<button onclick="myFunction2()" class="btn">1 : 10 000</button>
		<button onclick="myFunction3()" class="btn">1 : 25 000</button>

			 
			
				<div id="myDIV1" style="display:none">
						{% include_relative imgs/5000.svg class="img-fluid mx-auto d-block"%}
				</div>
				<div id="myDIV2" style="display:none">
						{% include_relative imgs/10000.svg class="img-fluid mx-auto d-block"%}
				</div>
				<div id="myDIV3" style="display:none">
						{% include_relative imgs/25000.svg class="img-fluid mx-auto d-block"%}
						
				</div>
				<div id="Blank">
						{% include_relative imgs/Blanko2.svg class="img-fluid mx-auto d-block"%}
				</div>

		
		
	
		</div>
		
 
	
  </div>
</div>
