html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 5rem;
  margin-bottom: 7rem;
  overflow-y: scroll;
}

// style horizontal line
hr {
  max-width: 50%;
  border-width: 2px;
  border-color: $primary;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  text-align: center;
  font-family: $font-family-serif;
}
h1 {
  text-transform: uppercase;
}

// highlighted text through selection styling
::selection {
  color: $white;
  background: $gray-900;
  text-shadow: none;
}

// make images non-selectable
img {
  user-select: none;
}

// hide highlighting on tap (touch) in webkit browsers(chrome, ssafari, opera)
body {
  -webkit-tap-highlight-color: rgba(0,0,0,0); // for Chrome
}

// hide standard dotted outline in firefox
:-moz-focusring  {
  outline: 0;
}
